.spreadsheet-label {
  border-width: 1px 1px 0 1px; 
  border-color: var(--gray);
  border-style: solid;
  font-size: .8rem;
  grid-template-columns: 40px 1fr;
}

fieldset .spreadsheet-label:last-child {
  border-width: 1px 0 1px 1px; 
  border-color: var(--gray);
  border-style: solid;
}

.spreadsheet-input {
  border: 0;
  border-left: 1px solid var(--gray);
  border-radius: 0;
  font-size: .8rem;
}

.spreadsheet-input:focus {
  outline: 1px solid var(--seagreen);
}

/* Hide number incrementors */
.spreadsheet-input[type="number"] {
  appearance: textfield;
}

/* Hide number incrementors on webkit browsers */
.spreadsheet-input::-webkit-inner-spin-button,
.spreadsheet-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* TODO: Can probably remove the above once we are done here */

.grid {
  border-radius: .25rem .25rem 0 0;
  border: 1px solid var(--gray-80);
}

.grid [role="columnheader"]:has(~ [role="columnheader"]) {
  border-radius: .25rem 0 0 0;
}

.grid [role="columnheader"] {
  padding: .5rem;
  border-bottom: 1px solid var(--gray-80);
  background-color: var(--gray-95);
 }

.grid [role="columnheader"]:not(:has(+ [role="columnheader"])) {
  border-radius: 0 .25rem 0 0;
}

.grid [role="gridcell"], 
.grid [role="rowheader"] {
  border-bottom: 1px solid var(--gray-80);
  height: 100%;
  background-color: var(--secondary-neutral);
}

.grid [role="gridcell"] input, 
.grid [role="rowheader"] input {
  border: 0;
  background-color: transparent;
}

.grid [role="gridcell"]:nth-last-child(-n + 3) { /* Note: Corresponds to the amount of columns in our grid */
  border-bottom: none;
}