.tablist [role="tab"]:not(:first-child) {
    margin-left: 1px;
}

.tablist [role="tab"]:active {
    transform: unset;
}

.tablist.simple [role="tab"]:not(:first-child) {
    margin-left: .5rem;
}

.tablist.simple [role="tab"] {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    color: gray;
    font-weight: 600;
}

.tablist.simple [role="tab"][aria-selected="true"] {
    text-decoration: underline;
    color: black;
}
 
.tablist.simple [role="tab"]:focus-visible,
.tablist.simple [role="tab"]:hover {
    box-shadow: none;
    color: black;
    outline: 0;
    text-decoration-thickness: 2px;
}

.tablist:not(.simple) [role="tab"] {
    background-color: transparent;
    padding: .3rem .6rem;
    box-shadow: none;
    color: gray;
    transform: translateY(1px);
}
 

.tablist:not(.simple) [role="tab"][aria-selected="true"] {
    border-radius: .25rem .25rem 0 0;
    background-color: white;
    border: 1px solid var(--gray);
    border-top: 3px solid var(--blue-40);
    border-bottom-color: white;
    padding-bottom: calc(.3rem);
    color: black;
}

.tablist:not(.simple) [role="tab"]:focus-visible,
.tablist:not(.simple) [role="tab"]:hover  {
    text-decoration: underline;
    color: black;
    outline: 0;
}
