@supports not (position-anchor: auto) {
    *.position-anchor {
        height: 100vh;
        position: absolute;
        margin-top: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 0 !important;
        margin-left: 0 !important;
        padding: 0 !important;
        inset: 0 !important;
    }

    .position-anchor>* {
        height: 100dvh;
        padding-block: 1rem;
        padding-inline: .75rem;
        min-width: 180px;
        border: 0 !important;
        border-right: 1px solid var(--gray-90) !important;
        border-radius: 0;
    }
}

.anchor-name {
    --anchor-name: ;
    anchor-name: var(--anchor-name);
}

.position-anchor {
    --margin: ;
    --position-anchor: ;
    position-anchor: var(--position-anchor);

    position: absolute;
    margin: 0;
    inset: auto;

    
    position-try-fallbacks:
        flip-inline,
        /* Theese break --center and --direction-up-direction-left
        flip-block,
        flip-inline flip-block,
        */
        --direction-down-direction-right,
        --direction-down-direction-left,
        --direction-up-direction-right,
        --direction-up-direction-left, /*  This breaks --center */
        --center;
}
/* Do some margin variable and then use that to set margins in each anchor-position class aswell as the fallbacks...*/
 
.anchor-inline-start {
    right: anchor(left);
    margin-right: var(--margin);
}

.anchor-inline-center {
    left: anchor(center);
    transform: translateX(-50%);
}

.anchor-inline-end {
    left: anchor(right);
    margin-left: var(--margin);
}

.popover-direction-up {
    bottom: anchor(bottom);
}

.popover-direction-vertical {
    top: anchor(center);
    /*
      Use translate instead of transform as to not 
      override values of anchor-inline-center
    */
    translate: 0 -50%;
}

.popover-direction-down {
    top: anchor(top);
}

/* 
    Directional classes behave differently if
    the anchor-inline = center, as to not cover 
    the toggle button.
  */

.anchor-inline-center.popover-direction-up {
    bottom: anchor(top);
    margin-bottom: var(--margin);
}

.anchor-inline-center.popover-direction-down {
    top: anchor(bottom);
    margin-top: var(--margin);
}

.anchor-inline-center.popover-direction-right {
    transform: initial;
    left: anchor(left);
}

.anchor-inline-center.popover-direction-left {
    transform: initial;
    right: anchor(right);
    left: unset; /* Overwrites anchor-center */
}


/* TODO SIDENAV: Cannot overwrite transform which poses an issue for centered popovers (both vertically and horizontally?) */
/* Using align-self and justify-self as is intended seems to create weird interactions with position-try-fallbacks */
/* One idea is to use anchor-size and manually calculate offset */
/* Another idea is to use position-area */
/* Alternatively look at splitting theese into multiple components */
@position-try --direction-down-direction-right {
    inset: auto;
    top: anchor(bottom);
    left: anchor(left);
    margin-top: var(--margin);
    margin-right: 0;
    margin-left: 0;
}

@position-try --direction-down-direction-left {
    inset: auto;
    left: unset; /* Overwrites anchor-center */
    top: anchor(bottom);
    right: anchor(right);
    margin-top: var(--margin);
    margin-right: 0;
    margin-left: 0;
}

@position-try --direction-up-direction-right {
    inset: auto;
    bottom: anchor(top);
    left: anchor(left);
    margin-bottom: var(--margin);
    margin-right: 0;
    margin-left: 0;
}

@position-try --direction-up-direction-left {
    inset: auto;
    left: unset; /* Overwrites anchor-center */
    bottom: anchor(top);
    right: anchor(right);
    margin-bottom: var(--margin);
    margin-right: 0;
    margin-left: 0;
}

@position-try --center {
    inset: 0;
    margin: auto;
    transform: initial;
}


/* Indicator styles */
.popover-indicator {
    display: none;
    border-width: .5rem;
    border-style: solid;
    --margin: ;
}

@supports (position-anchor: auto) {
    .popover-indicator:has(+[popover]:popover-open) {
        display: block;
    }
}

.popover-indicator-top {
    margin-bottom: calc(var(--margin) - 1rem);
    position-area: start center;
    border-color: #292929 transparent transparent transparent;
}

.popover-indicator-right {
    margin-left: calc(var(--margin) - 1rem);
    position-area: center end;
    border-color: transparent #292929 transparent transparent;
}

.popover-indicator-bottom {
    margin-top: calc(var(--margin) - 1rem);
    position-area: end center;
    border-color: transparent transparent #292929 transparent;
}

.popover-indicator-left {
    margin-right: calc(var(--margin) - 1rem);
    position-area: center start;
    border-color: transparent transparent transparent #292929;
}