/* Toggle button */
.toggle-button {
    anchor-name: --toggle-button;
    display: flex;
    gap: 10px;
    background-color: transparent;
    overflow: hidden;
    border-radius: .5rem;
}

.toggle-button:hover {
    background-color: #e0e6eb;
    box-shadow: none;
}

/* Indicator */
.dialog-arrow-indicator {
    display: none;
    border-width: .5rem;
    border-style: solid;

    position: absolute;
    position-anchor: --toggle-button;
}

.toggle-button-wrapper:has(+ dialog[open]) .dialog-arrow-indicator {
    display: block;
}

.dialog-arrow-indicator-top {
    position-area: start center;
    border-color: #292929 transparent transparent transparent;
}

.dialog-arrow-indicator-right {
    position-area: center end;
    border-color: transparent #292929 transparent transparent;
}

.dialog-arrow-indicator-bottom {
    position-area: end center;
    border-color: transparent transparent #292929 transparent;
}

.dialog-arrow-indicator-left {
    position-area: center start;
    border-color: transparent transparent transparent #292929;
}

/* Dialog */
.non-modal-dialog {
    margin: 0;
    z-index: 9999;

    border: 1px solid silver;
    border-radius: .25rem;
    padding: .25rem;

    position: absolute;
    position-anchor: --toggle-button;
}
 
.non-modal-dialog-top {
    bottom: anchor(top);
    justify-self: anchor-center;
    margin-bottom: 2rem;
    margin-top: auto;
}

.non-modal-dialog-right {
    left: anchor(right);
    align-self: anchor-center;
    margin-left: 2rem;
    margin-right: auto;
}

.non-modal-dialog-bottom {
    top: anchor(bottom);
    justify-self: anchor-center;
    margin-top: 2rem;
    margin-bottom: auto;
}

.non-modal-dialog-left {
    right: anchor(left);
    align-self: anchor-center;
    margin-right: 2rem;
    margin-left: auto;
}