.text-editor-menu {
    background-color: var(--gray-95); 
    padding: 2px; 
    border-radius: .25rem .25rem 0 0; 
    border-bottom: 1px solid var(--gray);
}

.text-editor-menu > [role="menubar"] {
    line-height: 1;
    display: inline-block;
    vertical-align: top;
    height: 24px;
}

.text-editor-menu [role="menubar"] > li {
  display: inline-block;
  vertical-align: top;
}  

.text-editor-menu [role="menubar"] > li.divider {
    border-right: 1px solid var(--gray);
}
 
.text-editor-menu [role^="menuitem"] {
    position: relative;
    font-size: smaller;
    display: block;
    border-radius: .25rem;
    padding: .25rem;
    user-select: none;
}
 
.text-editor-menu [role^="menuitem"][aria-checked="true"] {
   background-color: hsl(206, 100%, 80%, .5);     
}

.text-editor-menu [role^="menuitem"][aria-expanded="true"] {
    background-color: var(--gray);
}

/* Hide tooltip if a menu exists and is visible */
.text-editor-menu [role^="menuitem"][aria-expanded="true"]::after {
    opacity: 0;
}

/* Sticky tooltips and hover effects on phone might be perceived as annoying, thus we only desible on more precise devices */
@media not (pointer: coarse)  {
    .text-editor-menu [role^="menuitem"]:hover:not(:is([aria-checked="true"], [aria-disabled="true"], [aria-expanded="true"])),
    .text-editor-menu [role^="menuitem"]:focus:not(:is([aria-checked="true"], [aria-disabled="true"], [aria-expanded="true"])) {
        background-color: var(--gray-90)
    }

    .text-editor-menu [role^="menuitem"]:hover::after,
    /* If texteditor does not contain a hovered menuitem, display tooltips on focus */
    .text-editor-menu:not(:has([role^="menuitem"]):hover) [role^="menuitem"]:focus::after { 
        content: attr(aria-label) " (" attr(aria-keyshortcuts) ")" / '';
        position: absolute;
        top: calc(100% + 5px);
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(25, 25, 25, .85);
        backdrop-filter: blur(1px);
        z-index: 2;
        color: white;
        padding: .25rem;
        border-radius: .25rem;
        white-space: nowrap;
        text-transform: capitalize;
    }

    /* Override tooltip if we explicitly provide one*/
    .text-editor-menu [role^="menuitem"][data-tooltip]:hover::after,
    .text-editor-menu:not(:has([role^="menuitem"]):hover) [role^="menuitem"][data-tooltip]:focus::after {
        content: attr(data-tooltip) / '';
    }
    .animated-menu.visible [role^="menuitem"]:hover::after,
    .animated-menu.visible:not(:has([role^="menuitem"]):hover) :is(span, div)[role^="menuitem"]:focus::after {
        top: calc(50%);
        left: calc(100% + 4px);
        transform: translateX(0) translateY(-50%);
    }
}

.animated-menu {
    padding: 2px;
    position: absolute;
    min-width: 100%;
    top: calc(100% + 5px);
    left: 0;
    z-index: 1;
    list-style: none;
    
    display: none;
    transform: scale(.95);
    transform-origin: top left;
    opacity: 0;

    transition-property: display, opacity, transform;
    transition-duration: .15s;
    transition-behavior: allow-discrete;
    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }

    &.visible {
        display: block;
        opacity: 1;
        transform: scale(1);

        @starting-style {
            opacity: 0;
            transform: scale(.95);
        }
    }
}
