.listbox::before {
    content: attr(data-listbox-label) / ""; /* No alt text for tooltip, we announce this using aria in the component instead */
    position: sticky;
    top: 0;
    display: block;
    padding-inline: .3rem;
    padding-block: .5rem;
    font-size: smaller;
    font-weight: 600;
    background-color: white;
 } 

.listbox:has(li)::before {
    margin-bottom: 3px;
    border-bottom: 1px solid var(--gray-90);
}

.listbox {
    list-style: none;
    border: 1px solid var(--gray);
    background-color: white;
    margin-block: .25rem;
    border-radius: .25rem;
    padding-bottom: 3px;
    padding-inline: 3px;
    position: absolute;
    z-index: 9;
    width: 100%;
    
    transform: scale(.95);
    transform-origin: top left;
    opacity: 0;

    overflow-y: auto;
    scrollbar-width: thin;
    max-height: 300px;
    scroll-padding-top: 37px; /* height of ::before plus its margin */
    scroll-padding-bottom: .25rem;
 
    transition-property: display, opacity, transform;
    transition-duration: .15s;
    transition-behavior: allow-discrete;
    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }

    &.visible {
        opacity: 1;
        transform: scale(1);

        @starting-style {
            opacity: 0;
            transform: scale(.95);
        }
    }

}

.listbox > li {
    border-radius: .25rem;
    padding: .5rem;
    user-select: none;
    font-size: smaller;
}

.listbox > li:hover {
    background-color: var(--gray-90);    
}
 

/* Select */

.select-toggle {
    width: 200px; /* Temporary */
    background-color: white;
    border: 1px solid var(--gray-80);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-toggle:hover {
    box-shadow: none;
}

.select-toggle:active {
    transform: scale(1);
}

.select-toggle:focus {
    border-color: #191919;
    outline: 0;
}


.listbox-select {
    list-style: none;
    border: 1px solid var(--gray);
    background-color: white;
    margin-block: .25rem;
    border-radius: .25rem;
    padding-bottom: 3px;
    padding-inline: 3px;
    position: absolute;
    z-index: 9;
    width: 100%;
    
    display: none;
    transform: scale(.95);
    transform-origin: top left;
    opacity: 0;

    overflow-y: auto;
    scrollbar-width: thin;
    max-height: 300px;
    scroll-padding-top: 37px; /* height of ::before plus its margin */
    scroll-padding-bottom: .25rem;
 
    transition-property: display, opacity, transform;
    transition-duration: .15s;
    transition-behavior: allow-discrete;
    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }

    &.visible {
        display: block;
        opacity: 1;
        transform: scale(1);

        @starting-style {
            opacity: 0;
            transform: scale(.95);
        }
    }
}