.search-container {
    width: min(350px, 100%);
}
 

.search-container output div {
    width: 100%;
    display: none;
    opacity: 0;
    transform: scale(.95);
    transform-origin: top left;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9;
    transition-property: display, opacity, transform;
    transition-duration: .15s;
    transition-behavior: allow-discrete;
    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }
} 

.search-container ul {
    max-height: 35vh;
    overflow-y: auto;
    scrollbar-width: thin;
    list-style: none;
    padding: 0;
    padding-right: 3px;
    margin: 0;
}

.search-container > div:has(input[type="search"]) {
    background-color: white;
    border: 1px solid var(--gray-70);
    border-radius: .25rem;
}

.search-container > div:has(input[type="search"]:focus) {
    border-color: var(--blue-40);
    outline: 1px solid var(--blue-80);
}

.search-container > div:has(input[type="search"]) input[type="search"] {
    border: 0;
    background-color: transparent;
}

.search-container > div:has(input[type="search"]) input[type="search"]:focus {
    outline: 0;
    border: 0;
}

.search-container:focus-within output div {
    display: block;
    opacity: 1;
    transform: scale(1);

    @starting-style {
        opacity: 0;
        transform: scale(.95);
    }
}

/* NEW */

.listbox {
    list-style: none;
    border: 1px solid var(--gray-70);
    background-color: white;
    margin-block: .25rem;
    border-radius: .25rem;
    padding: 3px;
    position: absolute;
    z-index: 9;
    width: 100%;
    transform-origin: top left;

    transition-property: opacity, transform;
    transition-duration: .15s;
}

.listbox > li {
    border-radius: .25rem;
    padding: .25rem;
    user-select: none;
    font-size: smaller;
}

.listbox > li:hover {
    background-color: var(--gray-90);    
}