.itemsList {
    padding: 0;
    padding-left: 20px;
}

.itemsList li:has(a:hover), .itemsList li:has(a:focus)  {
    list-style: url('/icons/link-small.svg');
}

.itemsList li a {
    padding: .25rem;
    border-radius: 2px;
    margin-right: .5rem;
}

.itemsList li a:hover, .itemsList > li a:focus {
    background-color: var(--gray-90);
}