@import url('main.css');
@import url('colors.css');

[popover] {
  background-color: transparent;
  border: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  background-color: #fefefe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  word-break: break-word;
  text-wrap: pretty;
}

p {
  line-height: 1.5;
  width: min(90ch, 100%);
}

.overflow-x-scroll {
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.overflow-x-scroll::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}


/* Legends and labels */

fieldset:not(:has(input:required, select:required, textarea:required)) legend::after {
  content: var(--i18n-optional);
  font-style: italic;
  color: gray;
  font-weight: 500;
}

fieldset:not(:has(input:required, select:required, textarea:required)):has(fieldset) fieldset legend::after {
  content: '';
}

.fieldset-unset-pseudo-class legend::after {
  content: none !important;
}

/* Temporary while rewriting */

#roadmapFilters {
  display: none;
}

menu:has(input[type="checkbox"]:checked)+#roadmapFilters {
  display: block;
}

:where(.button) {
  padding: .5rem 1rem;
  background-color: var(--gray-90);
  color: black;
  text-decoration: none;
  transition: box-shadow .1s ease;
}

:where(.button:hover) {
  box-shadow: inset 0 0 9999px rgba(0, 0, 0, .1);
}

:where(.button:active) {
  transform: scale(.95);
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

legend {
  padding: 0;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

input:disabled:hover {
  cursor: not-allowed;
}

kbd>kbd {
  border-radius: 3px;
  padding: 1px 2px 0;
  border: 1px solid black;
}

.focusable {
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray-70);
  outline-width: 1px;
  outline-style: solid;
  outline-color: transparent;
  background-color: white;
  border-radius: 4px; 
}

.focusable:focus-within {
  border-color: var(--blue-40);
  outline: 1px solid var(--blue-80);
}
 
.focusable input {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: inset 0 0 0 9999px white !important;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: inset 0 0 0 9999px white !important;
}

/* TipTap text editor */

.button-group > ul[role="menubar"] > li {
  display: inline-block;
} 

.button-group > ul[role="menubar"] > li span[role="menuitem"] {
  font-size: smaller;
  display: inline-block;
  vertical-align: middle;
  border-radius: .25rem;
  padding: .25rem;
}

.button-group > ul[role="menubar"] > li:hover span[role="menuitem"] {
  background-color: var(--gray-90)
} 

.button-group button {
  transform: initial;
} 

.button-group .is-active {
  background-color: hsl(206, 100%, 80%, .5);
} 

.tiptap {
  padding-top: .75rem;
  padding-inline: .5rem;
  padding-bottom: .25rem;
  min-height: 150px;
  max-width: 90ch; /* Figure out why this is needed */
}

.tiptap p,
.tiptap ol,
.tiptap ul {
  margin-block: 0;
}

.tiptap:focus {
  outline: 0;
}

.tiptap .details {
  display: flex;
  gap: .25rem;
  margin: 1.5rem 0;
  border: 1px solid var(--gray-30);
  border-radius: .5rem;
}

.tiptap .details>button {
  align-items: center;
  background: transparent;
  border-radius: 9999px;
  display: flex;
  font-size: .625rem;
  height: 1rem;
  justify-content: center;
  line-height: 1;
  padding: 10px;
  width: 1rem;
}

.tiptap .details>button:before {
  content: url('data:image/svg+xml,<svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-caret-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6c0 -.852 .986 -1.297 1.623 -.783l.084 .076l6 6a1 1 0 0 1 .083 1.32l-.083 .094l-6 6l-.094 .083l-.077 .054l-.096 .054l-.036 .017l-.067 .027l-.108 .032l-.053 .01l-.06 .01l-.057 .004l-.059 .002l-.059 -.002l-.058 -.005l-.06 -.009l-.052 -.01l-.108 -.032l-.067 -.027l-.132 -.07l-.09 -.065l-.081 -.073l-.083 -.094l-.054 -.077l-.054 -.096l-.017 -.036l-.027 -.067l-.032 -.108l-.01 -.053l-.01 -.06l-.004 -.057l-.002 -12.059z" /></svg>');
  transition: transform .1s ease-out;
}

.tiptap .details.is-open>button:before {
  transform: rotate(90deg);
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

