.variable-list {
    background-color: var(--gray-95);
    border-radius: 2px;
}

.variable-list input,
.variable-list select,
.variable-list div:has(button) {
    display: inline-block;
    width: 125px;
    min-width: 125px;
}

.variable-fieldset:disabled :disabled {
    border-color: transparent;
    background-color: transparent;
    color: black;
    background-image: none; 
}