.description {
  padding: 0.5rem 3ch;

  &>h1,
  &>h2 {
    margin-bottom: 0;
  }

  &>p {
    margin-top: 0.3rem;
    margin-bottom: 0rem;
  }
}

.tables {

  /* Indent all non-table things */
  &>*>*:not(table) {
    margin-inline-start: 2ch;
  }

  &>* {
    display: flex;
    flex-flow: column nowrap;

    &>h2 {
      margin-bottom: 0;
    }

    &>* {
      margin-bottom: 3rem;
    }

    &>table {
      & th {
        text-align: start;
      }

      & tr>* {
        padding-inline: 1ch;
        vertical-align: top;

        &:is([data-content="empty"], [data-content="missing"]) {
          color: red;
          background-color: yellow;
        }
      }
    }
  }
}

.formatters {}

.stats {
  &>* {
    display: flex;
    justify-content: flex-start;
    gap: 0 1ch;
    opacity: 0.8;

    & p {
      width: max-content;
      margin: 0;
    }
  }
}

.allTranslations {}

.odd {
  background-color: #f0f0f0;
}

.even {
  background-color: #e0e0e0;
}