.text-editor-menu {
    background-color: var(--gray-95); 
    padding: 2px; 
    border-radius: .25rem .25rem 0 0; 
    border-bottom: 1px solid var(--gray);
}

.text-editor-menu span[role^="menuitem"] {
    position: relative;
}

@media not (pointer: coarse)  {
    .text-editor-menu span[role^="menuitem"]:hover::after,
    /* If texteditor does not contain a hovered menuitem, allow displaying tooltips on focus */
    .text-editor-menu:not(:has(span[role^="menuitem"]):hover) span[role^="menuitem"]:focus::after { 
        content: attr(aria-label) " (" attr(aria-keyshortcuts) ")" / '';
        position: absolute;
        top: calc(100% + 5px);
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(25, 25, 25, .85);
        backdrop-filter: blur(1px);
        z-index: 2;
        color: white;
        padding: .25rem;
        border-radius: .25rem;
        white-space: nowrap;
        text-transform: capitalize;
    }
}

/* Hide tooltip if a menu exists and is visible */
.text-editor-menu span[role^="menuitem"]:has(+ .animated-menu.visible)::after {
    opacity: 0;
}

.animated-menu {
    padding: 2px;
    position: absolute;
    min-width: 100%;
    top: calc(100% + 5px);
    left: 0;
    z-index: 1;
    list-style: none;
    
    display: none;
    transform: scale(.95);
    transform-origin: top left;
    opacity: 0;

    overflow-y: auto;
    scrollbar-width: thin;
    max-height: 300px;
    scroll-padding-top: 37px; /* height of ::before plus its margin */
    scroll-padding-bottom: .25rem;
 
    transition-property: display, opacity, transform;
    transition-duration: .15s;
    transition-behavior: allow-discrete;
    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }

    &.visible {
        display: block;
        opacity: 1;
        transform: scale(1);

        @starting-style {
            opacity: 0;
            transform: scale(.95);
        }
    }
}
