.sideScroll {
  overflow-x: auto;
  padding-bottom: .25rem;
  scrollbar-width: thin;
  scrollbar-color: var(--gray) transparent;
}

.sideScroll input {
  border-radius: 0;
  border: 1px solid var(--gray-90)
}

.sideScroll input:focus {
  outline: none;
  box-shadow: none;
}

.sideScroll input::-webkit-inner-spin-button,
.sideScroll input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sideScroll label {
  padding-right: 1rem;
  padding-left: 1rem;
}