 .inputTable input:focus {
  outline: 1px solid var(--seagreen);
 }

/* Hide number incrementors */
.inputTable input[type="number"] {
  appearance: textfield;
}

/* Hide number incrementors on webkit browsers */
.inputTable input::-webkit-inner-spin-button,
.inputTable input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}