.layout {
  display: grid;
  grid-template-columns: auto 1fr;
}

@media (max-width: 1250px) {
  .layout {
    display: initial;
  }
}

.filters {
  height: fit-content; 
  flex-basis: 25ch;
  scroll-margin: 1rem; 
  padding: .5rem;
  border-radius: .25rem;
  transition: background-color .3s ease-out;
} 