.dialog {
  width: min(75ch, 100%);
  overflow: unset;
  height: 80vh;
  border: 0; 
  box-shadow: 0 0 .5rem -.25rem rgba(0,0,0,.25);
  overflow-y: scroll;
  scrollbar-width: thin;
}

/* TODO: Do we want this class? Or do we want to scroll the entire dialog? */
.temporary {
  overflow-y: scroll;
  padding-right: .25rem;
  scrollbar-width: thin;
}

.selectedTable {
  background-color: var(--blue-20);
  color: white;
}
 
.dialog fieldset button:active {
  transform: scale(.995);
}