.actions-grid {
    column-gap: .5rem;
    row-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(300px,100%),1fr));
    list-style: none;
    padding-left: 0;
}

.actions-grid > li {
    box-shadow: 4px .5rem 10px -.5rem var(--gray-90);
    background-color: var(--secondary-neutral);
    border: 1px solid var(--gray-80);
    transition: box-shadow .2s ease;
}

.actions-grid > li:has(a:hover) {
    box-shadow: 4px .5rem 10px -.5rem var(--gray-30);
}

.action-title {
    font-size: 1.15rem;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.action-years {
    color: gray;
    font-size: 14px;
}

.actions-list {
    padding-left: 1.5rem;
}

.actions-list > li::marker {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="gray" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-link"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 15l6 -6" /><path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" /><path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" /></svg>') / "";
}

.actions-list > li {
    margin-block: 2rem;
    padding-left: 1rem;
}

.actions-list > li > article {
    padding: .25rem;
    border-radius: .25rem;
}

.actions-list > li > article * {
    padding: 0;
}

.actions-list > li > article hr {
    display: none;
}

.actions-list .action-years {
    display: none;
}

.actions-list .action-user {
    margin-top: .25rem;
    color: gray;
}

.actions-list .action-link {
    display: none;
}