/* TODO SIDENAV: A bunch of magic numbers, fix this :)*/
/* TODO SIDENAV: A bunch of wonky selectors, fix this :)*/

/* Main sidebar */
.aside {
  position: sticky;
  top: 0;
  height: 100dvh;
  border-right: 1px solid silver;
  interpolate-size: allow-keywords;
  transition: width .2s ease-out;

  @media (max-width: 1250px) {
    height: unset;
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid silver;
    background-color: rgba(255,255,255,.95);
    backdrop-filter: blur(2px);
    z-index: 8;
  }
}

/* Sidebar header (toggle open/closed) */
.aside > header:first-of-type label { 
  margin-left: 4px; /* TODO SIDENAV: Magic number */
  transition: background-color .1s ease;
  @media (max-width: 1250px) {
    z-index: 10;
  }
}

.aside > header:first-of-type label:hover {
  background-color: #e0e6eb;
}

.aside:has(.sidebar-toggle:checked) > .sidebar-menu {
  @media (min-width: 1251px) {
    width: initial;
  }

  @media (max-width: 1250px) {
    transform: translateX(-100%);
    display: none;
  }
} 

/* Sidebar menu (collection of action items such as links and buttons) */
.aside > .sidebar-menu {
  width: calc(24px + (1rem * 2 + .5rem * 2)); /* TODO SIDENAV: Magic number */
  interpolate-size: allow-keywords;
  transition-property: width, transform, display; 

  transition-duration: .2s;
  transition-timing-function: ease-out;
  transition-behavior: allow-discrete;

  @media (max-width: 1250px) {
    transform: translateX(0);

    position: absolute;
    z-index: 9;
    top: 0;

    width: initial;
    height: 100dvh;
    border-right: 1px solid silver;
    background-color: white;
    /* Image height + image margin-block + image-padding-block + padding-top */
    padding-top: calc(1rem * 2 + 24px + .25rem * 2 + 1rem); /* TODO SIDENAV: Magic number */
    @starting-style { 
      transform: translateX(-100%);
    }
  }

  /* 
    TODO: Firefox is currently the only browser to not support transition-behavior: allow-discrete
    togheter with display: none; However as transition-behavior is still a supported property
    we cannot use a @support query. Thus we have this wonky fix which we can remove once firefox 
    supports transition-behavior fully.  
  */
  @-moz-document url-prefix() { 
    transition-property: width, display 
  }
}

/* Sidebar items */
.sidebar-menu > * > a,
.sidebar-menu > * > button {
  display: flex;
  align-items: center;
  gap: 10px; /* TODO: Magic number */
  width: 100%;
  padding: .5rem;
  padding-right: calc(.5rem + 10px); /* TODO: Magic number, TODO SIDENAV: This is wrong for our logout/login button where the image is on the right hand side */
  transition: background-color .1s ease, box-shadow .1s ease;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
} 

.sidebar-menu a:not([href="/signup"]):hover,
.sidebar-menu button:hover {
  background-color: #e0e6eb;
  box-shadow: none; /* TODO: Might be good to remove box shadows from the semantic style sheet hover class so we don't need to constantly overwrite it */ 
}

.sidebar-menu > * > a[href="/signup"]:hover {
  box-shadow: inset 0 0 999px rgba(0, 0, 0, 0.1);
}

/* TODO SIDENAV: Figure out a way to deal with margins of the links icons */ 

/* TODO SIDENAV: Apply globally? */
/* Prevent flexbox from resizing svg elements by setting min width of commonly used widths */ 
.aside svg[width="24"] {
  min-width: 24px;
}

.aside svg[width="20"] {
  min-width: 20px;
}

.aside svg[width="16"] {
  min-width: 16px;
}
