/* TODO: TEMPORY, REWRITING*/
/* TODO SIDENAV: A bunch of magic numbers, fix this :)*/
/* TODO SIDENAV: A bunch of wonky selectors, fix this :)*/

.aside {
  position: sticky;
  top: 0;
  width: auto;
  height: 100dvh;
  border-right: 1px solid silver;
  interpolate-size: allow-keywords;
  transition: width .2s ease-out;

  @media (max-width: 1250px) {
    z-index: 8;
    background-color: rgba(255,255,255,.9);
    border-bottom: 1px solid silver;
    border-right: 0;
    width: 100%;
    height: unset;
    label {
      /* TODO: Set all margin lefts when in phone mode */ 
      margin-left: 1rem !important;
      position: relative;
    }
  }
}

.aside > div {
  width: auto;
  interpolate-size: allow-keywords;
  transition: width .2s ease-out, transform .2s ease-out;

  @media (max-width: 1250px) {
    z-index: 9;
    height: 100dvh;
    top: 0;
    /* Image height + image margin-block + image-padding-block + padding-top */
    padding-top: calc(1rem * 2 + 24px + .25rem * 2 + 1rem);
    
    transform: translate(-100%, 0);
    position: absolute;
    border-right: 1px solid silver;
    background-color: white;
  }
}

.aside:has(input[type="checkbox"]:checked) > div {
  /* WIDTH: Largest image size, padding aside, padding links, border aside*/
  @media (min-width: 1251px) {
    width: calc(24px + (1rem * 2 + .5rem * 2));
  }

  @media (max-width: 1250px) {
    transform: translate(0, 0);
  }
}

.aside a:not([href="/signup"]) {
  width: 100%;
  padding: .5rem;
  border-radius: .5rem;
  color: black;
  text-decoration: none;
  transition: background-color .1s ease;
}

.aside a:hover {
  background-color: #e0e6eb;
}

/* TODO: Hate this hover do something about it (why does box shadow inset not work like it should ): )*/ 
.aside a[href="/signup"]:hover {
  background-color: var(--seagreen-30);
}

.aside>div>nav>a,
.aside>div>section>a,
.aside>div>section>button {
  overflow: hidden;
  white-space: nowrap;
}

.aside label {
  /* Margin + padding aligns with images of links which have paddings of .5 */
  transition: background-color .1s ease;
  border-radius: 99999px;
  @media (max-width: 1250px) {
    z-index: 10;
  }
}

.aside label:hover {
  background-color: #e0e6eb;
}

.aside > section > button {
  gap: 10px;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  border-radius: .5rem;
}