/* Main sidebar */
/* TODO SIDENAV: See if selectors can be clarified */ 

/*
  Psuedo code showing sidebar layout represented as css variable names 
  <sidebar>
    <sidebar-header>
      <sidebar-header-label />
      ...
    </sidebar-header>
    <sidebar-menu>
      <sidebar-menu-child-element />
      ...
    </sidebar-menu>
  </sidebar>
*/

.sidebar { 
  --sidebar-menu-child-element-padding: .5rem;
  --sidebar-menu-child-element-gap: var(--sidebar-menu-child-element-padding);
  
  /* Sidebar child element = header, menu */
  --sidebar-child-element-padding: 1rem; 
  --sidebar-child-element-width: calc(
    var(--sidebar-child-element-icon-min-size) +
    var(--sidebar-child-element-padding) * 2 + 
    var(--sidebar-menu-child-element-padding) * 2 
  ); 
  --sidebar-child-element-icon-min-size: 20px;

  --sidebar-header-icon-size: 24px; 
  --sidebar-header-label-padding: .25rem;
  --sidebar-header-label-width: calc(
    var(--sidebar-header-icon-size) + 
    var(--sidebar-header-label-padding)
  );

  position: sticky;
  top: 0;
  height: 100dvh;
  border-right: 1px solid silver; 

  @media (max-width: 1250px) {
    height: unset;
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid silver;
    background-color: rgba(255,255,255,.95);
    backdrop-filter: blur(2px);
    z-index: 8;
  }
}

/* Sidebar header (toggle open/closed) */
.sidebar > header {
  padding: var(--sidebar-child-element-padding);
}

.sidebar > header:first-of-type label { 
  padding: var(--sidebar-header-label-padding);
  margin-left: calc((
    (var(--sidebar-child-element-width) - (var(--sidebar-child-element-padding) * 2)) -
    (var(--sidebar-header-icon-size) + (var(--sidebar-header-label-padding) * 2))
  ) / 2 ); 
  transition: background-color .1s ease;
  @media (max-width: 1250px) {
    z-index: 10;
  }
}

.sidebar > header:first-of-type label:hover {
  background-color: #e0e6eb;
}

.sidebar > header:first-of-type > label > svg {
  width: var(--sidebar-header-icon-size);
  height: var(--sidebar-header-icon-size);
  min-width: var(--sidebar-header-icon-size); /* Prevents element from being resized by flexbox */
}

/*
TODO SIDENAV: Checkbox keeps focus after pressing which is kinda annoying,
maybe replace checkbox with button or find a better way of doing this? 
.sidebar > header:first-of-type label:focus-within {
  outline: 1px solid black;
}
*/

.sidebar:has(.sidebar-toggle:checked) > .sidebar-menu {
  @media (min-width: 1251px) {
    width: initial;
  }

  @media (max-width: 1250px) {
    transform: translateX(-100%);
    display: none;
  }
} 

/* Sidebar menu (collection of action items such as links and buttons) */
.sidebar > .sidebar-menu {
  width: var(--sidebar-child-element-width);
  padding: var(--sidebar-child-element-padding);

  interpolate-size: allow-keywords;
  transition-property: width, transform, display; 
  transition-duration: .2s;
  transition-timing-function: ease-out;
  transition-behavior: allow-discrete;

  @media (max-width: 1250px) {
    transform: translateX(0);

    position: absolute;
    z-index: 9;
    top: 0;

    width: initial;
    height: 100dvh;
    border-right: 1px solid silver;
    background-color: white;

    padding-top: calc(
      var(--sidebar-child-element-padding) +
      var(--sidebar-child-element-padding) * 2 +
      var(--sidebar-header-icon-size) + 
      var(--sidebar-header-label-padding) * 2 
    ); 
    
    @starting-style { 
      transform: translateX(-100%);
    }
  }

  /* 
    TODO: Firefox is currently the only browser to not support transition-behavior: allow-discrete
    togheter with display: none; However as transition-behavior is still a supported property
    we cannot use a @support query. Thus we have this wonky fix which we can remove once firefox 
    supports transition-behavior fully.  
  */
  @-moz-document url-prefix() { 
    transition-property: width, display 
  }
}

/* Sidebar menu items */
.sidebar-menu > * > a,
.sidebar-menu > * > button {
  display: flex;
  align-items: center;
  gap: var(--sidebar-menu-child-element-gap);
  width: 100%;
  padding: var(--sidebar-menu-child-element-padding);
  padding-right: calc(
    var(--sidebar-menu-child-element-padding) + 
    var(--sidebar-menu-child-element-gap)
  ); 
  transition: background-color .1s ease, box-shadow .1s ease;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1;
} 

.sidebar-menu > * > a > svg,
.sidebar-menu > * > button > svg {
  width: var(--sidebar-child-element-icon-min-size);
  height: var(--sidebar-child-element-icon-min-size);
  min-width: var(--sidebar-child-element-icon-min-size); /* Prevents element from being resized by flexbox */
}

.sidebar-menu a:not([href="/signup"]):hover,
.sidebar-menu button:hover {
  background-color: #e0e6eb;
  box-shadow: none; 
}

.sidebar-menu > * > a[href="/signup"]:hover {
  box-shadow: inset 0 0 999px rgba(0, 0, 0, 0.1);
}
